.toast {
    position: fixed;
    top: 80px;
    right: 80px;
    padding: 10px 20px;
    background-color: #222;
    box-shadow: 0 15px 10px rgba(0,0,0,.3);
    border-radius: 3px;
    color:#FFF;
    z-index: 1;
    animation-duration: 100ms;
}